@charset "UTF-8";
@font-face {
  font-family: w-ui-icons;
  src: url(icontfont/iconfont.woff2) format("woff2"),
    url(icontfont/iconfont.woff) format("woff"),
    url(icontfont/iconfont.ttf) format("truetype");
}
[class*="w-icon"],
[class^="w-icon"] {
  font-family: w-ui-icons !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w-icon-delete:before {
  content: "\e601";
}
